﻿
 .FizzRule {
    color: blue;

}

.BuzzRule {
    color: green;
}

li
{
    list-style:none;
}

#inputPanel
{
    float:left;
    width:90%;
    margin-left:10px;
    background-color:#e4e4e4;
    padding:10px;
    border:2px solid #9f9f9f;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
     -webkit-border-radius: 10px;
}

#resultPanel
{
   float:left;
    width:90%;
    margin-left:10px;
    background-color:#ffffff;
    padding:10px;
    border:2px solid #9f9f9f;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
     -webkit-border-radius: 10px;
}
 
.FizzBuzz a
{
    border:1px solid #000;
    padding:3px;
    font-size:small;

}
.activePageLink
{
    background-color:#abd305;
}
 
.FizzBuzz a:hover
{
    background-color:#abd305;    
}