﻿@model FizzBuzzApplication.Models.FizzBuzzModel
@using FizzBuzzApplication.CustomHTMLHelper

@{
    ViewBag.Title = "Fizz-Buzz";
}


<h2 align="center">FIZZ-BUZZ</h2>
<link href="~/Content/FizzBuzz.css" rel="stylesheet" />
<script type="text/javascript" src="~/scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/scripts/Pagination.js"></script>

@using (Html.BeginForm("FizzBuzzResult", "FizzBuzz"))
{
    @Html.ValidationSummary(true)

    <div class="FizzBuzz" id="inputPanel">
        <div>
            @Html.LabelFor(model => model.maxLimit)
            @Html.TextBoxFor(model => model.maxLimit)
            @Html.ValidationMessageFor(model => model.maxLimit)
            <p>
                <input type="submit" value="Submit" />
            </p>
        </div>
    </div>

}
@if (Model != null && Model.listofNumber != null)
{
    int i = 0;
    <div class="FizzBuzz">
        <div id="resultPanel">
            <ul id="FizzBuzzResult">
                <li>
                    @foreach (var item in Model.listofNumber)
                    {
                        if (i % 20 == 0 && i != 0)
                        {
                            @: <li>
                        }
                        foreach (var item2 in item)
                        {
                            @Html.LabelWithCustomStyle(item2.displayText, item2.appliedRuleId)
                        }
                        <br />
                        i = i + 1;
                        if (i % 20 == 0)
                        {
                            @: </li>
                        }
                    }
                </ul>
                <center><span id="PageList" class="clear"></span></center>
            </div>

        </div>

}
<script type="text/javascript">
    $(document).ready(function () {
        $("#FizzBuzzResult").Pagination();
    });
</script>